@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Raleway:700');

.main-title {
  font-family: 'Fredoka One', sans-serif;
  font-size: 32px;
}

input {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1em;
  padding: 0.9%;
  border-radius: 15px;
  border-width: 0;
  width: 15vw;
  height: 3.5rem;
  margin: 0.7em;
}

button {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

img {
  padding: 1em;
  border-radius: 5px;
}
